* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ? HEADER/NAV STYLES */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 2px solid black;
}
header nav {
    margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
header nav ul li {
    padding: 10px 50px;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 5px;
}

/* ? REVIEWS STYLES */
.reviews-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 20px;
    padding-bottom: 5px;
    margin: 10px;
    border: 1px solid black;
}
.container div {
    border-top: 1px solid black;
    margin-top: 8px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

/* ? FEATURES STYLES */

.features-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.feature-container-left {
    max-width: 800px;
    min-width: 400px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    margin-left: 300px;
    max-width: 800px;
}
.feature-container-right {
    max-width: 800px;
    min-width: 400px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    margin-right: 300px;
    text-align: right;
}
.feature-container h3 {
    padding-bottom: 5px;
}
.feature-container p {
    padding-top: 5px;
}


/* ? HERO SLIDER */
.slide-container {
    position: relative;
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

/* ? SignIn Page */
.signInForm-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.signInForm-handler form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    font-family: 'Palanquin', sans-serif;
}
form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}
.signIn-btn {
    padding: 10px 20px;
}



/* ? FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-top: 1px solid black;
}

@media screen and (max-width: 700px) {
    .features-container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .feature-container-left {
        margin-right: 100px;
    }
    .feature-container-right {
        margin-left: 100px;
    }
}