* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ? HEADER/NAV STYLES */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 2px solid black;
}
header nav {
    margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
header nav ul li {
    padding: 10px 50px;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 5px;
}

/* ? REVIEWS STYLES */
.reviews-container {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content + 5px;
    padding: 20px;
    padding-bottom: 5px;
    margin: 10px;
    border: 1px solid black;
}
.container div {
    border-top: 1px solid black;
    margin-top: 8px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

/* ? FEATURES STYLES */

/* .feature-container-right {
    border: 1px solid black;
    padding: 15px;
    width:800px;
    position: relative;
    left: 1120px;
} */
.feature-container {
    border: 1px solid black;
    padding: 15px;
    width:800px;
    margin: 15px;
}
.feature-container h3 {
    padding-bottom: 5px;
}
.feature-container p {
    padding-top: 5px;
}